terraform-access-key

**/.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraform.lock.hcl
terraform-access-key
temp-creds.json

# attempt to terraform import existing GCP project, decided against for now
project.tf.bkp

# temporary:
# git cloned repos for test-driving
add-asg-lb-cloudformation
viya4-iac-aws
